/*pantalla*/
@media (min-width: 576px) { 
}

@media (min-width: 768px) { 
}

@media (min-width: 992px) { 
}


@media (min-width: 1200px) { 
}


@media (min-width: 1400px) { 
}
/*cuerpo general*/
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(120deg, #6c3483, #00d0ff);
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgb(0, 255, 204);
}
/*pagina de bienvenida*/
  .welcome-container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
  }
/*texto bienvenida*/
  .welcome-text {
      font-size: 32px;
      text-align: center;
      opacity: 0;
  }
/*animacion bienvenida*/
  .fade-in {
      animation: fadeInAnimation 2s ease-in-out forwards;
  }
@keyframes fadeInAnimation {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}
/*log in*/
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  }

  th,
  td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: left;
  }

  th {
      background-color: #f2f2f2;
  }

/*inicio de sesion*/
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label   {
    top: -5px;
    color: #6C3483;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before   {
    width: 100%;
}

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.row {
    background-color: #ffffff;
    padding: 10px;
}

/*fin sesion*/
.background {
    width: 200px;
    height: 100px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}
 
.trans {
    opacity: 0.5;
}


.fin_sesion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.fin_sesion h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}


.fin_sesion input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.fin_sesion label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.fin_sesion input:focus ~ span::before,
.fin_sesion input:focus ~ span::before   {
    width: 100%;
}

.fin_sesion{
    margin: -5px 0 20px 5px;
    color: rgb(13, 101, 101);
    cursor: pointer;
}

/*reinicio de sesion*/
.buttoniniciosesion:hover {
        background: linear-gradient(#12839d, #5500ff);
}
.btn-info {
        display: block;
        margin: auto;
}

.container-md {
    width: 200px;
    height: 100px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

/*transacciones*/
.add-transaction{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}


.add-transaction{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.add-transaction{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.add-transaction span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.add-transaction input:focus ~ label,
.add-transaction input:focus ~ label   {
    top: -5px;
    color: #6C3483;
}

.add-transaction input:focus ~ span::before,
.add-transaction input:focus ~ span::before   {
    width: 100%;
}

.add-transaction{
    margin: -5px 0 20px 5px;
    color: rgb(13, 101, 101);
    cursor: pointer;
}

.add-transaction:hover {
    text-decoration: underline;
}

.subtract-transaction{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}


.subtract-transaction{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.subtract-transaction{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.subtract-transaction span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.subtract-transaction input:focus ~ label,
.subtract-transaction input:focus ~ label   {
    top: -5px;
    color: #6C3483;
}

.subtract-transaction input:focus ~ span::before,
.subtract-transaction input:focus ~ span::before   {
    width: 100%;
}

.subtract-transaction{
    margin: -5px 0 20px 5px;
    color: rgb(13, 101, 101);
    cursor: pointer;
}

.subtract-transaction:hover {
    text-decoration: underline;
}

.transaction-history input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.transaction-history label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.transaction-history span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.transaction-history input:focus ~ label,
.transaction-history input:focus ~ label   {
    top: -5px;
    color: #6C3483;
}

.transaction-history input:focus ~ span::before,
.transaction-history input:focus ~ span::before   {
    width: 100%;
}

.transaction-history{
    margin: -5px 0 20px 5px;
    color: rgb(13, 101, 101);
    cursor: pointer;
}

.transaction-history:hover {
    text-decoration: underline;
}

.container-md{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    height: 170px;
    padding-top: 20px;
}

.container-md h3{
    text-align: center;
    padding: 10 0 10px 0;
    border-bottom: 1px solid silver;
}


.container-md input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.container-md label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.card text-center m-auto {
        width: 700px;
        border-top-width: 1px;
        top: 20px;
        }

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

table {
width: 100%;
border-collapse: collapse;
margin: 20px auto;
background-color: #ffffff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
        
th,
td {
padding: 10px;
text-align: left;
border-bottom: 1px solid #ddd;
}
        
th {
background-color: #f2f2f2;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
/*fin transacciones*/                
@media print {
                
.table,
.table__body {
overflow: visible;
height: auto !important;
width: auto !important;
}
}

/*historial de transacciones*/
.transacciones_titulo {
font-size: 24px;
opacity: 0;
/* al inicio escondido */
 animation: fadeIn 1s ease-in-out forwards;
/* Aplicar animacion */
}
@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
.transacciones_titulo {
      color: black;
      /* color inicial */
      transition: color 0.3s ease;
      /* transicion */
      cursor: pointer;
      /* animacion en cursor */
  }

.transacciones_titulo:hover {
      color: white;
      /* invertir colores en hover */
  }